<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserList</title>
</head>
<body>
    <h1>Список користувачів</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Ім`я</th>
                <th>Час</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user[0] }}</td>
                    <td>{{ user[1] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/">Повернутися на головну</a>
</body>
</html>
